@font-face {
    font-family: 'Saira Condensed';
    font-weight: 700;
    font-style: bold;
    src: url('../../fonts/SairaCondensed/SairaCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: bold;
    src: url('../../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: bold;
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
